
    <ul id="menu-demo2">
        <li><a href="#">Accueil</a>
        <li><a href="#">Lien menu 2</a>
            <ul>
                <li><a href="#">Lien sous menu 2</a></li>
                <li><a href="#">Lien sous menu 2</a></li>
                <li><a href="#">Lien sous menu 2</a></li>
                <li><a href="#">Lien sous menu 2</a></li>
            </ul>
        </li>
        <li><a href="#">Lien menu 3</a>
            <ul>
                <li><a href="#">lien sous menu 3</a></li>
                <li><a href="#">lien sous menu 3</a></li>
                <li><a href="#">lien sous menu 3</a></li>
                <li><a href="#">lien sous menu 3</a></li>
            </ul>
        </li>
        <li><a href="#">Lien menu 4</a>
            <ul>
                <li><a href="#">Lien sous menu 4</a></li>
                <li><a href="#">Lien sous menu 4</a></li>
                <li><a href="#">Lien sous menu 4</a></li>
                <li><a href="#">Lien sous menu 4</a></li>
            </ul>
        </li>
    </ul>