{% extends 'base.html.twig' %}

{% block body %}
    <div id="div_index_img">
        <img src="{{ asset('contents/img/copropriete.jpg')}}" height="500" class="col-lg-12 col-md-12"/>
    </div>
{% endblock %}